= simple_form_for [:admin, page] do |f|
  = f.error_notification
  .inputs
    = f.input :title
    = f.input :slug
    = f.association :author
    = f.input :content
  .actions
    = f.button :submit
