<%= simple_form_for asset.new_record? ? [:admin, theme, asset] : [:admin, asset] do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :name %>
    <%= f.input :content, :as => :hidden, :input_html => {:class => "content"} %>
    <div id="editor"><%= asset.content %></div>
  </div>

  <div class="actions">
    <%= f.button :submit %>
    <% unless asset.new_record? %>
      <button id="save">Save</button>
    <% end %>
  </div>
<% end %>
