<h1><%= theme.name %> theme assets</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Content</th>
    <th>Path</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% assets.each do |asset| %>
  <tr>
    <td><%= asset.name %></td>
    <td><%= asset.type %></td>
    <td><%= truncate asset.content, :words => 40 %></td>
    <td><%= asset.path %></td>
    <td><%= link_to 'Show', [:admin, asset] %></td>
    <td><%= link_to 'Edit', edit_admin_asset_path(asset) %></td>
    <td><%= link_to 'Destroy', [:admin, asset], confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Template', new_admin_theme_template_path(theme) %> |
<%= link_to 'New Stylesheet', new_admin_theme_stylesheet_path(theme) %> |
<%= link_to 'New Javascript', new_admin_theme_javascript_path(theme) %> |
<%= link_to 'New Image', new_admin_theme_image_path(theme) %> |
<%= link_to 'Publish theme', publish_admin_theme_path(theme), :method => :post %>