<h1>Listing themes</h1>

<table>
  <tr>
    <th>Site</th>
    <th>Name</th>
    <th>Description</th>
    <th>Directory</th>
    <th>Published at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% themes.each do |theme| %>
  <tr>
    <td><%= theme.site %></td>
    <td><%= theme.name %></td>
    <td><%= theme.description %></td>
    <td><%= theme.directory %></td>
    <td><%= theme.published_at %></td>
    <td><%= link_to 'Show', theme %></td>
    <td><%= link_to 'Edit', edit_theme_path(theme) %></td>
    <td><%= link_to 'Destroy', theme, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Theme', new_theme_path %>
