= show_for theme do |s|
  = s.attribute :name
  = s.attribute :description
  = s.attribute :directory
  = s.attribute :published_at
= link_to 'Assets', admin_theme_assets_path(theme)
|
= link_to 'Edit', edit_admin_theme_path(theme)
|
= link_to 'Back', admin_themes_path
