<%= simple_form_for(site) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :name %>
    <%= f.input :title %>
    <%= f.input :tagline %>
    <%= f.association :owner %>
    <%= f.association :current_theme, :collection => site.themes %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
