<!DOCTYPE html>
<html>
<head>
  <title>Myweb Administrator</title>
  <%= stylesheet_link_tag "admin/application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %>">
  <header>
    <h1><%= current_site %> administrator</h1>
    <nav>
      <ul>
        <li><%= link_to "Pages", admin_pages_path %></li>
        <li><%= link_to "Themes", admin_themes_path %></li>
      </ul>
      <br>
    </nav>
  </header>

  <div id="content"><%= yield %></div>

  <%= javascript_include_tag "admin/application" %>
</body>
</html>
